@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url(./variables.scss);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1,h2,ul,li,span,input,button{
    font-family: 'Roboto' sans-serif;
    font-weight: 400;
}
h1{
    font-size: 30px;
    @media only screen and (max-width:320px) {
        font-size: 24px;
    
}
}
.main-title{
    width: 100%;
    height: 100vh;
    background: url(./assets/img/main-bg.png) no-repeat;
    background-size:cover;

    @media only screen and (max-width:1024px) {
        background-size: 100% 100%;
    
}

    .header{
        padding: 38px 50px 0 50px;
        display: flex;
        align-items: center;
        cursor: pointer;

        @media only screen and (max-width:320px) {
            padding: 15px 25px 0 25px;
        }

        .logo{
            @media only screen and (max-width:320px) {
                width: 20%;
            }
        }

        .navigation{
        
            display: flex;

            @media only screen and (max-width:320px) {
                display: none;
                
            }

            ul{
                display: flex;
                gap: 25px;
                padding-left: 46px;
                li{
                    list-style-type: none;
                    color:#FFFEF2;
                    font-size: 14px;
                    
                }
            }
            .navigation-right{
                margin-left: 150%;

                @media only screen and (max-width:1024px) {
                    margin-left: 70%;
                    
                }
            }
        }
    }

    .line-nav-wrapper{
        display: none;

        .line-top{
            border: 1px solid #FFFEF2;
            width: 15px;
        }
        .line-center{
            border: 1px solid #FFFEF2;
            width: 10px;
        }
        .line-bottom{
            border: 1px solid #FFFEF2;
            width: 5px;
        }
    
        @media only screen and (max-width:320px) {
            display: flex;
            flex-direction: column;
            gap: 3px;
            
        }
    }

}


.title-wrapper{
    margin-top: 15%;
    margin-left: 15%;

    .title-main-wrapper{
        font-size: 30px;
        color: #FFFEF2;
        width: 400px;
        margin-bottom: 20px;

        @media only screen and (max-width:320px) {
            font-size: 24px;
            width: 200px;
        
    }
    }
    .main-text{
        font-size: 16px;
        color: #FFFEF2;
        width: 380px;
        display: inline-block;

        @media only screen and (max-width:320px) {
            font-size: 10px;
            width: 200px;
    }
    }
}
.section-2{
    display: flex;
    width: 100%;
    height: 100vh;

    @media only screen and (max-width:1024px) {
        position: relative; 
    }

    .bottles{
        width: 720px;

        @media only screen and (max-width:320px) {
            display: none;
    }
    }

    .sculpt-wrapper{
        background: #CFC7C0;
        display: flex;
        align-items: center;
        padding-left: 40px;

        @media only screen and (max-width:1024px) {
            position: absolute; 
            height: 100vh;
        }
        .tube-1{
            @media only screen and (max-width:320px) {
                display: none;
            }
        }
    
    }
    .sculpt-main-wrapper{
        padding-left: 40px;
        h1{
            font-size: 28px;
            color: #333333;
            margin-bottom: 20px;

            @media only screen and (max-width:320px) {
                font-size: 24px;
                width: 200px;
        }
        }
        .subtitle{
            display: inline-block;
            color: #333333;
            font-size: 16px;
            margin-bottom: 26px;

            @media only screen and (max-width:320px) {
                font-size: 14px;
                width: 200px;
        }
        }
        .subtitle-text{
            font-size: 14px;
            padding-right: 10%;

            @media only screen and (max-width:320px) {
                font-size: 12px;
                width: 200px;
        }
        }

    }
}
.main-button{
    display: inline-block;
    height: 60px;
    width: 396px;
    margin-bottom: 20px;
    background:#333333;
    color: #FFFEF2;

    @media only screen and (max-width:320px) {
        width: 200px;
        height: 40px;
        font-size: 12px;
}
}
.button-transparent{
    background: transparent;
    border: 1px solid rgba(51, 51, 51, 0.2);
    color: rgba(51, 51, 51, 1);
    position: relative;
}

.arrow{
    position: absolute;
    right: 20px;

    @media only screen and (max-width:320px) {
    display: none;
}
}

.main-tube {
    width: 100%;
    height: 100vh;
    background-color:#FFFEF2;

    @media only screen and (max-width:1024px) {
        overflow: scroll;
}

}
.tube-wrapper {
    display: inline-flex;
    align-items: center;
    padding: 100px 0 40px 80px;
    @media only screen and (max-width:320px) {
    padding: 50px 0 20px 20px;
}

    @media only screen and (max-width:320px) {
        flex-direction: column;
        gap: 50px;
}
.tube-conteiner{
    @media only screen and (max-width:320px) {
        width: 60%;
        margin: 50px;
}
}
.tube-moiety{
    @media only screen and (max-width:320px) {
        display: none;
}
}
}

.text-tube {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #333333;
}
.scroll-wrapper{
    display: flex;
    padding-left: 80px;

    .main-scroll-link{
        border: 1px solid rgba(0, 0, 0, 0.6);
        height: 2px;
        width: 427px;
        overflow-y: scroll;
    }
    .main-scroll-link-transparent{
        border: 1px solid rgba(0, 0, 0, 0.2);
        width: 853px;
        height: 2px;
    }

    @media only screen and (max-width:1024px) {
        overflow-y: scroll;
}
    @media only screen and (max-width:320px) {
    display: none;
}
}

.main-vitamin{
    width: 100%;
    height: 100vh;
    background-color: #FFFEF2;
    display: flex;
    align-items: center;

    .vitamin-wrapper{
        padding-left: 80px;
        margin-right: 125px;

        @media only screen and (max-width:1024px) {
            margin-right: 6%;
    }
    @media only screen and (max-width:320px) {
        padding-left: 40px;

}
        h1{
            width: 310px;
            font-size: 30px;
            margin-bottom: 27px;

            @media only screen and (max-width:320px) {
                font-size: 24px;
                width: 250px;
                text-align: center;
        }
        }
        .main-button{
            width: 300px;

            @media only screen and (max-width:320px) {
                width: 200px;
        }
        }
        .arrow-up{
            padding-left: 226px;
        }
        p{
            width: 370px;
            margin-bottom: 27px;
            font-size: 16px;

            @media only screen and (max-width:320px) {
                font-size: 14px;
                width: 250px;
                text-align: center;
        }
        }
        .text-vitamin{
            font-size: 14px;

            @media only screen and (max-width:320px) {
                font-size: 12px;
                width: 300px;
        }
        }
    }
    .vitamin-img{
        @media only screen and (max-width:1024px) {
            width: 50%;

            @media only screen and (max-width:320px) {
                display: none;
        }

    }
    }
}
.arrow-up{
    padding-left: 300px;
    @media only screen and (max-width:320px) {
        display: none;
}
}
.quote{
    width: 100%;
    height: 100vh;
    background-color: #FFFEF2;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        font-size: 30px;
        width: 650px;
        text-align: center;
        margin-top: 200px;
        margin-bottom: 20px;
        @media only screen and (max-width:320px) {
            font-size: 24px;
            width: 300px;
    }
    }

    p{
        font-size: 14px;
        display: inline-block;
    }
}
.main-footer{
    width: 100%;
    height: 100vh;
    background: rgba(37, 37, 37, 1);
    color: #FFFEF2;
    display: flex;
    flex-wrap: wrap;

    @media only screen and (max-width:320px) {
        overflow: scroll;
}

    .footer-main-wrapper{
        padding-top: 50px;
        padding-left: 40px;
        position: relative;

        .main-button-footer{
            background: transparent;
            border: 1px solid #FFFEF2;
            padding-left: 10px;
            height: 37px;
            width: 520px;
            margin-bottom: 12px;
            color: #FFFEF2;
            font-size: 20px;

            @media only screen and (max-width:1024px) {
                width: 387px;
    
        }
        @media only screen and (max-width:320px) {
            width: 290px;
    }
        }
        .arrow-white-right{
            position: absolute;
            left: 537px;
            top: 66px;

            @media only screen and (max-width:1024px) {
                left: 93%;
    
        }
        }
    }

    .footer-wrapper{
        padding-top: 50px;
        padding-left: 40px;
        h2{
            font-size: 15px;
            margin-bottom: 20px;
        }
        ul{
            li{
                font-size: 14px;
                padding-top: 15px;
                list-style-type: none;
            }
        }
        img{
            padding-left: 10px;
        }
        p{
            font-size: 14px;
            padding-top: 15px;

            @media only screen and (max-width:1024px) {
                width: 300px;
        }
        }
    }
    
}
.line-footer{
    border: 1px solid #FFFEF2;
    width: 240px;
    @media only screen and (max-width:1024px) {
        width: 150px;
}

}
.line-long{
    width: 520px;
    @media only screen and (max-width:1024px) {
        width: 300px;
}
@media only screen and (max-width:320px) {
    width: 200px;
}

}
.aesop{
    width: 100%;
    height: 70px;
    background: rgba(37, 37, 37, 1);
    color: #FFFEF2;
    padding: 30px 0 0 40px;
    border-top: 1px solid #FFFEF2;
}